<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Zamówienia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="../../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="jumbotron home-jumbo">
        <div class="text-center text-white jumbo-container">
            <h1 class="display-3">Zamówienia</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="text-center mb-2">
                <a href="#"
                   th:href="@{/panel/zamowienia}"
                   class="btn btn-light mx-1">Wszystkie</a>
                <a href="#"
                   th:href="@{/panel/zamowienia(status=${T(pl.kkorobkow.foodant.order.OrderStatus).NEW.name()})}"
                   class="btn btn-warning mx-1">Nowe</a>
                <a href="#"
                   th:href="@{/panel/zamowienia(status=${T(pl.kkorobkow.foodant.order.OrderStatus).IN_PROGRESS.name()})}"
                   class="btn btn-primary mx-1">Realizowane</a>
                <a href="#"
                   th:href="@{/panel/zamowienia(status=${T(pl.kkorobkow.foodant.order.OrderStatus).COMPLETE.name()})}"
                   class="btn btn-success mx-1">Zrealizowane</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2" th:if="${!orders.isEmpty()}">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Adres</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Status</th>
                    <th scope="col">Edycja</th>
                </tr>
                </thead>
                <tbody th:remove="all-but-first">
                <tr th:each="order: ${orders}" th:object="${order}">
                    <th scope="row" th:text="*{id}">1</th>
                    <td th:text="*{address}">ul. Krakowska 43/22, 53-320 Wrocław</td>
                    <td th:text="*{telephone}">888-777-666</td>
                    <th:block th:switch="*{status}">
                        <td th:case="${T(pl.kkorobkow.foodant.order.OrderStatus).NEW}">Nowe</td>
                        <td th:case="${T(pl.kkorobkow.foodant.order.OrderStatus).IN_PROGRESS}">Realizowane</td>
                        <td th:case="${T(pl.kkorobkow.foodant.order.OrderStatus).COMPLETE}">Zrealizowane</td>
                    </th:block>
                    <td><a href="#" th:href="@{|/panel/zamowienia/*{id}|}" class="btn btn-primary">Edytuj</a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>ul. Jaglana 22/11</td>
                    <td>898-787-676</td>
                    <td>Realizowane</td>
                    <td><a href="#" class="btn btn-primary">Edytuj</a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>ul Kazimierza Wielkiego, 50-300 Wrocław</td>
                    <td>666-777-888</td>
                    <td>Zakończone</td>
                    <td><a href="#" class="btn btn-primary">Edytuj</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <div th:if="${orders.isEmpty()}" class="text-center">
                <h2>Brak zamówień</h2>
            </div>
        </div>
    </div>
</div>
</body>
</html>