<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title th:text="|Zamówienie ${order.id}|">Zamówienie 123</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="../../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="jumbotron home-jumbo">
        <div class="text-center text-white jumbo-container">
            <h1 class="display-3" th:text="|Zamówienie ${order.id}|">Zamówienie 123</h1>
            <th:block th:switch="${order.status}">
                <h2 th:case="${T(pl.kkorobkow.foodant.order.OrderStatus).NEW}">Status: Nowe</h2>
                <h2 th:case="${T(pl.kkorobkow.foodant.order.OrderStatus).IN_PROGRESS}">Status: Realizowane</h2>
                <h2 th:case="${T(pl.kkorobkow.foodant.order.OrderStatus).COMPLETE}">Status: Zrealizowane</h2>
            </th:block>
            <a class="jumbotron-link" href="#" th:href="@{/panel/zamowienia}">wróć do listy zamówień</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2" th:if="${!order.items.isEmpty()}">
            <p>
            <h4 th:text="|adres: ${order.address}|">adres: ul. Przykładowa 7, 00-000 Warszawa</h4>
            <h6 th:text="|telefon: ${order.telephone}|">telefon: 500500500</h6>
            </p>
            <table class="table">
                <h5 class="text-center">Zamówione produkty:</h5>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Cena</th>
                </tr>
                </thead>
                <tbody th:remove="all-but-first">
                <tr th:each="item, idx: ${order.items}" th:object="${item}">
                    <th scope="row" th:text="${idx.index+1}">1</th>
                    <td th:text="*{name}">Pizza Marggherita</td>
                    <td th:text="|*{price} zł|">25 zł</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Spaghetti Bolognese</td>
                    <td>32 zł</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Panna Cotta</td>
                    <td>18 zł</td>
                </tr>
                </tbody>
            </table>
            <div class="text-right">
                <h5 th:if="${order.status != T(pl.kkorobkow.foodant.order.OrderStatus).COMPLETE}"
                    th:text="|Do zapłaty: ${#numbers.formatDecimal(sum,1,2,'COMMA')} zł|">Do zapłaty: 99.99 zł</h5>
                <h5 th:if="${order.status == T(pl.kkorobkow.foodant.order.OrderStatus).COMPLETE}"
                    th:text="|Zapłacono: ${#numbers.formatDecimal(sum,1,2,'COMMA')} zł|">Zapłacono: 99.99 zł</h5>
            </div>
            <div th:if="${order.status != T(pl.kkorobkow.foodant.order.OrderStatus).COMPLETE}">
                <div class="text-center">
                    <form action="#" th:action="@{|/panel/zamowienia/${order.id}|}" method="post">
                        <button class="btn btn-primary"
                                th:if="${order.status == T(pl.kkorobkow.foodant.order.OrderStatus).NEW}">Realizuj
                        </button>
                        <button class="btn btn-success"
                                th:if="${order.status == T(pl.kkorobkow.foodant.order.OrderStatus).IN_PROGRESS}">
                            Finalizuj
                        </button>
                    </form>
                </div>
                <div class="text-right">
                    <form action="#" th:action="@{|/panel/zamowienia/usun/${order.id}|}" method="post">
                        <button class="btn warning-link btn-link">usuń zamówienie</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="text-center" th:if="${order.items.isEmpty()}">
                <h2>Zamówienie jest puste</h2>
                <a class="common-link" href="#" th:href="@{/panel/zamowienia}">wróć do listy zamówień</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>