.home-jumbo {
    background: url("../img/jumbo-back.png") center;
}
.jumbotron-link {
    color: white;
}
.jumbotron-link:hover {
    color: #ced4da;
}
.common-link {
    color: #212529;
}
.common-link:hover {
    color: #77b550;
    text-decoration: none;
}
.warning-link {
    color: red;
}
.warning-link:hover {
    color: #bd2130;
}
.add-button-link {
    color: #fff;
    background-color: #77b550;
    border-color: #77b550;
}
.add-button-link:hover {
    color: #fff;
    background-color: #629443;
    border-color: #629443;
}
.simple-p {
    margin-bottom: 0;
}
.media-body {
    margin-left: 10px;
}