<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title th:text="${item.name}">Pizza Margherita</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="col-lg-8 offset-lg-2">
        <img src="../static/img/pizza-margherita.jpg" th:src="@{${item.imgUrl}}" class="img-fluid"
             alt="Pizza margherita"
             th:alt="${item.name}"/>
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <h1 class="text-center" th:text="${item.name}">Pizza Margherita</h1>
            <h3 class="text-center" th:text="|Cena: ${item.price} zł|">Cena: 25 zł</h3>
            <p class="text-justify" th:text="${item.description}">Pizza Margherita to klasyka włoskiej kuchni. W naszym
                wydaniu serwujemy pizzę na
                cienkim cieście z ręcznie przygotowanym sosem pomidorowym i oryginalnym serem mozarella.</p>
            <a href="#" th:href="@{/zamowienie/dodaj/(itemId=${item.id})}" class="btn d-block add-button-link">Dodaj
                do zamówienia</a>
            <p class="simple-p text-right">
                <a href="#" th:href="@{/}" class="common-link">wróć do menu</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>