<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Zamówienie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="jumbotron home-jumbo">
        <div class="container text-center text-white jumbo-container">
            <h1 class="display-3">Twoje zamówienie</h1>
            <a class="jumbotron-link" href="#" th:href="@{/}">wróć do menu</a>
        </div>
    </div>
    <div class="col-6 offset-3" th:if="${!order.items.isEmpty()}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Cena</th>
                <th scope="col">Usuń</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="item, idx: ${order.items}" th:object="${item}">
                <th scope="row" th:text="${idx.index+1}">1</th>
                <td th:text="*{name}">Pizza Marggherita</td>
                <td th:text="|*{price} zł|">25 zł</td>
                <td><a href="#" th:href="@{/zamowienie/usun-potrawe/(itemId=*{id})}"
                       class="fas fa-trash text-danger common-link"></a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Spaghetti Bolognese</td>
                <td>23 zł</td>
                <td><a href="#" class="fas fa-trash text-danger common-link"></a></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Panna Cotta</td>
                <td>17 zł</td>
                <td><a href="#" class="fas fa-trash text-danger common-link"></a></td>
            </tr>
            </tbody>
        </table>
        <div class="text-right">
            <h5 th:text="|Do zapłaty: ${#numbers.formatDecimal(sum,1,2,'COMMA')}zł|">Do zapłaty: 99.99 zł</h5>
        </div>
        <form action="#" th:action="@{/zamowienie/realizuj}" method="post">
            <div class="form-group">
                <label for="addressInput">Adres</label>
                <input type="text" class="form-control" id="addressInput" name="address"
                       pattern="[A-zÀ-ž\s\-\.]{2,} [0-9][0-9A-zÀ-ž\/]{0,}, [0-9]{2}-[0-9]{3} [A-zÀ-ž\s\-]{2,}"
                       title="wymagany format: Przykładowa 1A/1, 00-000 Miasto"
                       required placeholder="Przykładowa 1A/1, 00-000 Miasto">
            </div>
            <div class="form-group">
                <label for="telephoneInput">Telefon</label>
                <input type="text" class="form-control" id="telephoneInput" name="telephone"
                       pattern="[0-9]{3} [0-9]{3} [0-9]{3}" title="wymagany format: 000 000 000"
                       required placeholder="000 000 000">
            </div>
            <div class="text-center">
                <button class="btn add-button-link">Zamów</button>
            </div>
        </form>
    </div>
    <div class="text-center" th:if="${order.items.isEmpty()}">
        <h2>Twoje zamówienie jest puste</h2>
        <a class="common-link" href="#" th:href="@{/}">Kliknij tu, żeby dodać coś do zamówienia</a>
    </div>
</div>
</body>
</html>